.key {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    width: 40px;
    height: 40px;
    background-color: #000;
    border: 3px solid transparent;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    transition: background-color 0.3s, border-color 0.3s;
}

.symbolBox {
    font-weight: 500;
    height: 50%;
    width: 50%;

}

.specialBox {
    font-size: 14px;
    height: 50%;
    width: 100%;
}

.key.active {
    border-color: blue;
}

.key.working {
    border-color: green;
}

.key.pressed {
    background-color: orange;
}

.tab,
.backspace,
.controlleft,
.controlright
{
    width: 55px;
}

.altleft,
.altright,
.metaleft,
.metaright,
.contextmenu
{
    width: 50px;
}

.space {
    width: 263px;
}

.capslock {
    width: 70px;
}

.enter {
    width: 73px;
}

.shiftright {
    width: 103px;
}

.numpad0 {
    width: 88px;
}

.numpadadd,
.numpadenter
{
    height: 88px;
}

.escape,
.f4,
.f8
{
    margin-right: 21px;
}